<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/style.css">
  <style>
    .checkVar {
      color: red;
    }
  </style>
</head>


<body>
  <div class="container">
    <div class="registration form">
      <header>Signup</header>
      
      <form action="checkerPage" method="post">
        <% if (checkVar) { %>
          <h3 class="checkVar"><%= checkVar %></h3>
          <% } %>
        <input type="text" name="userName" placeholder="Enter your username">
        <input type="text" name="emailAddress" placeholder="Enter your email">
        <input type="password" name="passWord" placeholder="Create a password">
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <a href="./loginFrm"><label>Login</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>

